<!doctype html>
<form *ngIf="evento" [formGroup]="eventoForm" (ngSubmit)="onSubmit()">

  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Número do Evento:</label>
      <input class="form-control" formControlName="numeroEvento" [ngClass]="{ 'is-invalid': showError('numeroEvento') }"
        min="1" max="999" maxlength="3" (keypress)="numberOnly($event)">
      <div *ngIf="showError('numeroEvento')" class="invalid-feedback">
        <div *ngIf="field('numeroEvento').errors.required">O campo é de preenchimento obrigatório.</div>
      </div>
    </div>
    <div class="form-group col-md-9">
      <label>Título do Evento:</label>
      <input type="text" class="form-control" formControlName="tituloEvento"
        [ngClass]="{ 'is-invalid': showError('tituloEvento') }" maxlength="100" max="100" minlength="0" min="100"
        size="100">
      <div *ngIf="showError('tituloEvento')" class="invalid-feedback">
        <div *ngIf="field('tituloEvento').errors.required">O campo é de preenchimento obrigatório.</div>
      </div>
    </div>
  </div>

  <footer class="footer-botoes">  
    <button type="button" class="btn btn-secondary" style="margin-left: 20px; margin-right: 5px;" (click)="voltar()">Voltar</button>
    <button type="submit" class="btn btn-primary" *ngIf="!visualizar">
      Salvar
    </button>
  </footer>

</form>