.texto-vermelho {
    color: red;
}

.texto-verde {
    color: green;
}

.texto-aviso {
    font-size: 70%;
    color: #dc3545;
}

.icone-pequeno {
    font-size: .65em;
    vertical-align: middle;
}

.header-centralizado {
    text-align: center;
}

.header-a-direita {
    text-align: right;
}

.footer-totalizadores {
    background: rgb(238, 239, 241) none repeat scroll 0pt 50%;
    font-weight: bold;
    text-align: center;
}

.botao-voltar {
    margin-left: 20px;
    margin-right: 5px;
}

.texto-legenda-avisos {
    color:red;
    font-size: 70%;
}
