<!doctype html>
<div class="title">Eventos</div>

<siconv-table [data]="eventosObservable | async" fileExportName="eventos" [pagination]="true" [export]="export"
  (listaPaginada)="getListaPaginada($event)">
  <thead header>
    <tr>
      <th sortable-column="numeroEvento" sortable-type="number" scope="col">Número do Evento</th>
      <th sortable-column="tituloEvento" sortable-type="string" scope="col">Título do Evento</th>
      <th style="text-align: center;" scope="col">Ações</th>
    </tr>
  </thead>
  <tbody *ngIf="eventosObservable | async as eventos">
    <ng-container *ngIf="eventos?.length; else nenhumRegistro">
      <tr *ngFor="let evento of lista">
        <td style="text-align: center;">{{ evento.numeroEvento }}</td>
        <td>{{ evento.tituloEvento }}</td>
        <td style="text-align: center;">
          <a title="Detalhar" [routerLink]="['../detalhar', evento.id]" alt="Detalhar">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
          </a>
          <a *ngIf="podeEditar" title="Editar" [routerLink]="['../editar', evento.id]" alt="Editar">
            <i class="fa fa-pencil"></i>
          </a>
          <a *ngIf="podeEditar" title="Excluir" (click)="deleteEvento(evento, template)" alt="Excluir">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
    </ng-container>
    <ng-template #nenhumRegistro>
      <tr>
        <td colspan="3">
          Nenhum registro encontrado.
        </td>
      </tr>
    </ng-template>
  </tbody>
</siconv-table>

<ng-template #template>
  <div class="modal-body text-center">
    <p *ngIf="eventoASerExcluido">A exclusão do evento selecionado resulta na desassociação de todos os seus
      relacionamentos na PO.</p>
    <p>Tem certeza que deseja excluir o evento {{eventoASerExcluido.numeroEvento}}?</p>
    <button type="button" class="btn btn-primary" (click)="confirmaExclusao()">Sim</button>
    &nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" (click)="cancelaExclusao()">Não</button>
  </div>
</ng-template>


<footer class="footer-botoes">  
  <button type="button" class="btn btn-secondary" style="margin-left: 20px; margin-right: 5px;" (click)="voltar()">Voltar</button>
  <button *ngIf="podeEditar" type="button" class="btn btn-primary" [routerLink]="['../salvar']">
    Adicionar
  </button>
</footer>