<!doctype html>
<siconv-fieldset fieldsetTitle="Anexos" [collapsible]="false">
  <form *ngIf="licitacao" [formGroup]="anexoForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="col-md-6"> <label>Descrição do Arquivo</label> <input type="text" class="form-control"
          formControlName="descricao" [ngClass]="{ 'is-invalid': showError('descricao') }" maxlength="30">
        <div *ngIf="showError('descricao')" class="invalid-feedback">
          <div *ngIf="field('descricao').errors.required">O campo é de preenchimento obrigatório.</div>
        </div>
        <div *ngIf="showError('descricao')" class="invalid-feedback">
          <div *ngIf="field('descricao').errors.maxlength">Tamanho máximo do campo é de 30 caracteres!</div>
        </div>
      </div>
      <div class="col-md-6"> <label>Perfil do Responsável pelo Envio</label> <input type="text" readonly
          class="form-control-plaintext" [value]="perfilDoUsuario | perfil"> </div>
    </div>
    <div class="form-row">
      <div class="col-md-6"> <label id="lblDescricaoArquivo">Tipo</label> <select class="form-control"
          formControlName="tipoDoAnexo" [ngClass]="{ 'is-invalid': showError('tipoDoAnexo') }">
          <option value="ATA_HOMOLOGACAO_LICITACAO" [selected]="tipoDoAnexo === 'ATA_HOMOLOGACAO_LICITACAO'">Ata de
            Homologação da Licitação</option>
          <option value="DESPACHO_ADJUDICACAO" [selected]="tipoDoAnexo === 'DESPACHO_ADJUDICACAO'">Despacho de
            Adjudicação
          </option>
          <option value="RESUMO_EDITAL" [selected]="tipoDoAnexo === 'RESUMO_EDITAL'">Publicação do Resumo do Edital
          </option>
          <option value="OUTROS" [selected]="tipoDoAnexo === 'OUTROS'">Outros</option>
        </select>
        <div *ngIf="showError('tipoDoAnexo')" class="invalid-feedback">
          <div *ngIf="field('tipoDoAnexo').errors.required">O campo é de preenchimento obrigatório.</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6"> <label id="lblDescricaoArquivo">Anexo</label>
        <div class="row">
          <div class="col-md-12">

            <div class="input-group input-file">

              <input type="file" class="form-control" #anexoInput
                accept=".pdf, .png, .xls, .jpg, .jpeg, .odt, .ods, .xlsx, .dwg, .doc, .docx"
                (change)="onFileChange($event)" />

              <button type="button" (click)="addAnexo()" class="input-file button" *ngIf="!visualizar"> <i
                  class="fa fa-arrow-circle-up"></i></button>

              <input type="text" class="form-control file-text" disabled [value]="nomeArquivo">

            </div>

            <div class="description">Formatos permitidos: PDF, XLS, JPG, JPEG, PNG, ODT, ODS, XLSX, DWG, DOC e
              DOCX. Tamanho máximo: 10 MB</div>

            <h5 *ngIf="!nomeArquivo && submitted" style="font-size: 80%; color: #dc3545;">O campo é de preenchimento
              obrigatório.</h5>

            <h5 *ngIf="nomeArquivo?.length > 100" style="font-size: 80%; color: #dc3545;">
              O tamanho do nome do arquivo não deve ultrapassar 100 caracteres.
            </h5>
          </div>
        </div>
      </div>
    </div>
  
    <footer class="footer-botoes">  
      <button type="button" class="btn btn-secondary" style="margin-left: 20px; margin-right: 5px;" (click)="voltar()" >Voltar</button>
      <button *ngIf="!visualizar" type="submit" class="btn btn-primary ">Salvar</button>
    </footer>
  </form>
</siconv-fieldset>
