<!doctype html>
<div class="title">Planilha de Levantamento Quantitativo (PLQ)</div>

<siconv-table *ngIf="plqObservable | async as plq" [data]="plq.macroservicos" fileExportName="planilha_levantamento_quantitativo" 
  [pagination]="true" [export]="export" (listaPaginada)="getListaPaginada($event)">
    <thead header>
        <tr>
            <th sortable-column="numero" sortable-type="number" scope="col" style="text-align: center;">Macrosserviço / Serviço</th>
            <th style="text-align: center;">Qtd.</th>
            <th style="text-align: center;">Und.</th>
            <ng-container *ngIf="plq && plq.porEvento">
              <th style="text-align: center;">No. Evento</th>
              <th style="text-align: center;"> Evento</th>
            </ng-container>
            <th style="text-align: center;">Preço Total Licitado</th>
            <th style="text-align: center;">No. Frente de Obra</th>
            <th style="text-align: center;">Frente de Obra</th>
            <th style="text-align: center;">Qtd.</th>
            <th style="text-align: center;">Valor Licitado</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="plq?.macroservicos.length; else nenhumRegistro">
            <ng-container *ngFor="let macroservico of lista">
              <tr>
                <td style="text-align: left;"><strong>{{macroservico.numero}}. {{macroservico.descricao}}</strong></td>
                <td></td>
                <td></td>
                <ng-container *ngIf="plq && plq.porEvento">
                  <td></td>
                  <td></td>
                </ng-container>
                <td style="text-align: right;"><strong>{{macroservico.precoTotalLicitado | currency: 'BRL'}}</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <ng-container *ngIf="macroservico.servicos?.length">
                  <ng-container *ngFor="let servico of macroservico.servicos">
                    <ng-container *ngFor="let frente of servico.frentesObra">
                      <tr>
                        <td style="text-align: left;"  *ngIf="frente.exibeServico" [attr.rowspan]="servico.rowspan">{{macroservico.numero}}.{{servico.numero}} {{servico.descricao}}</td>
                        <td style="text-align: right;" *ngIf="frente.exibeServico" [attr.rowspan]="servico.rowspan">{{servico.quantidade | number:'1.2-2':'pt-BR'}}</td>
                        <td style="text-align: center;" *ngIf="frente.exibeServico" [attr.rowspan]="servico.rowspan">{{servico.unidade}}</td>
                        <ng-container *ngIf="plq && plq.porEvento">
                          <td style="text-align: center;" *ngIf="frente.exibeServico" [attr.rowspan]="servico.rowspan">{{servico.numeroEvento}}</td>
                          <td style="text-align: center;" *ngIf="frente.exibeServico" [attr.rowspan]="servico.rowspan">{{servico.descricaoEvento}}</td>
                        </ng-container>
                        <td style="text-align: right;" *ngIf="frente.exibeServico" [attr.rowspan]="servico.rowspan">{{servico.precoTotalServico | currency: 'BRL'}} </td>

                        <td style="text-align: center;">{{frente.numero}}</td>
                        <td style="text-align: left;">{{frente.descricao}}</td>
                        <td style="text-align: right;">{{frente.quantidade | number:'1.2-2':'pt-BR'}}</td>
                        <td style="text-align: right;">{{frente.valorLicitado | currency: 'BRL'}}</td>

                      </tr>
                    </ng-container>
                    </ng-container>
              </ng-container>
            </ng-container>
        </ng-container>
        <ng-template #nenhumRegistro>
            <tr>
              <td colspan="plq.porEvento? 8 : 10">
                Nenhum registro encontrado.
              </td>
            </tr>
          </ng-template>
    </tbody>

</siconv-table>

<footer class="footer-botoes">  
  <button type="button" class="btn btn-secondary" style="margin-left: 20px; margin-right: 5px;" (click)="voltar()">Voltar</button>
</footer>
