<!doctype html>
<form *ngIf="visaoParcelas" [formGroup]="visaoParcelasForm" (ngSubmit)="onSubmit()">
  <div class="form-row col-md-12">
    <div class="col-md-6">
      <label>Macrosserviço</label>
      <p class="informacao">{{visaoParcelas.nomeMacroServico}}</p>
    </div>
    <div class="col-md-6">
      <label>Valor Total (R$)</label>
      <p class="informacao">{{visaoParcelas.precoTotal | currency: 'BRL'}}</p>
    </div>
  </div>
  <div class="col-md-12">
    <siconv-table [data]="visaoParcelas.parcelas" [fileExportName]="visaoParcelas" [pagination]="true" [export]="export"
      (listaPaginada)="getListaPaginada($event)">
      <thead header>
        <tr>
          <th style="text-align: center;">Nº da Parcela</th>
          <th style="text-align: center;" width="135">Parcela</th>
          <th style="text-align: right;" *ngIf="!visualizar">Parcela (%)</th>
          <th style="text-align: right;" *ngIf="visualizar">Parcela</th>
          <th style="text-align: right;">Percentual Acumulado</th>
          <th style="text-align: right;">Valor Acumulado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parcela of visaoParcelas.parcelas">
          <td style="text-align: center;">{{parcela.numero}}</td>
          <td style="text-align: center;">{{parcela.mesAnoParcela}}</td>
          <td *ngIf="!visualizar" style="text-align: right;">
            <input type="number" step="0.01" min="0" max="100" style="text-align: right;"
              oninput="validity.valid||(value='');" [value]="parcela.percentualParcela"
              (input)="parcela.percentualParcela = +$event.target.value" (keyup)="onKey($event)"
              (click)="onKey($event)" />
          </td>
          <td *ngIf="visualizar" style="text-align: right;">{{parcela.percentualParcela/100 | percent:'1.2-2'}}</td>
          <td style="text-align: right;">{{parcela.percentualAcumulado/100 | percent:'1.2-2' }}</td>
          <td style="text-align: right;">{{parcela.totalAcumulado/100 | currency: 'BRL'}}</td>
        </tr>
        <ng-template #nenhumRegistro>
          <tr>
            <td colspan="5">
              Nenhum registro encontrado.
            </td>
          </tr>
        </ng-template>
      </tbody>
    </siconv-table>
  </div>

  <footer class="footer-botoes">  
    <button type="button" class="btn btn-secondary" style="margin-left: 20px; margin-right: 5px;" (click)="voltar()">Voltar</button>
    <button type="submit" class="btn btn-primary" *ngIf="!visualizar">
      Salvar
    </button>
  </footer>
</form>